# Ignorar archivos sin extensión (ejecutables de Linux)
*
# No ignorar carpetas (para poder entrar en ellas)
!*/
# No ignorar archivos específicos
!*.cpp
!*.h
!*.txt
!*.md
!*.sh
!*.png
!.gitignore

# Ignorar objetos y librerías
*.so
*.o
